Package: com.spartacus.tweakioapp
Name: TweakioApp
Version: 0.0.1
Architecture: iphoneos-arm
Description: A standalone application for Tweakio!
Depiction: https://spartacusdev.github.io/depictions/tweakioapp.html
SileoDepiction: https://spartacusdev.github.io/sileoDepictions/tweakioapp.json
Icon: https://spartacusdev.github.io/images/Tweakio.png
Maintainer: Spartacus
Author: Spartacus
Section: Utilities
Depends: com.spartacus.tweakio (>= 0.0.7)
